@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #6284ff 50%,
    #ff0000 100%
  );
}
h1,
h3 {
  text-align: center;
  font-family: "Righteous", cursive;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cards {
  /* From https://css.glass */
  /* glass effect start */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass effect end */
  width: 300px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

button {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  border-radius: 10px;
  font-family: "Righteous", cursive;
  font-size: large;
  width: 300px;
  height: 50px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
